* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {  
    background-color: white;
    font-family: sans-serif;
}

.contenedor {
    margin: 0 auto;
    max-width: 100%; 
    overflow: hidden;
    width: 90%;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
    align-items: center;
}

.logo {
    align-items: center;
    height: auto; 
    margin-left: 20px; 
}

nav { 
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-right: 50px;
}

nav a {
    color: #740a15;
    font-size: 16px;
    font-weight: bold;    
    text-decoration: none;    
}

a:hover {
    background-color: #740A15;
    color: white;
}

.inicio {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#figura-inicio {
    cursor: pointer;
    height: auto;
    max-width: 720px;
    transition: 0.5s;
}           

#figura-inicio:hover {
    filter: brightness(60%);
    transform: scale(.8);
}

.empresa {
    align-items: center;
    display: flex;
    text-align: center;
}

.main {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px; 
}

.main img {    
    height: 414px;
    width: 446px;
}

.aside {
    background-color: white; 
    padding: 30px 50px;
    border: 2px solid #740A15;
    overflow: hidden;
}

.aside h1 {
    color: #740A15;
    animation: morel 6s infinite;
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.aside h2 {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
}

.aside p {
    color: black;
    font-size: 14px;
    text-align: justify;
}

@keyframes morel {
    from { transform: translateX(0%); }
    to { transform: translateX(100%); }
}

#los-servicios {
    background-color: white;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    margin-top: 50px;
}

#los-servicios h2 {
    background-color: white; 
    color: #740A15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;    
}

.servicios {
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
}

#los-servicios h3 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

#los-servicios p {
    color: white;
    font-size: 15px;
    text-align: justify;
}

.carta {
    background-color: #740A15;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,5); 
    padding: 15px;
    text-align: center;
}

#contacto {
    background-color: white;
    display: block;
    margin-top: 80px; 
    text-align: center;
}

#contacto h2 {
    color: #740A15;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.maincontacto {
    background-color: #740A15;
    color: white;  
    align-items: center;
    font-family: Arial;
    font-size: 16px;
}

.maincontacto img { 
    max-width: 100%;
    height: auto;
    margin-top: 45px;
}

.maincontacto a {
    color: white;
    font-weight: normal;
}

#final {    
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

#arriba {
    font-size: 13px;
    text-align: right;
}

#arriba a {
    color: black;
}

/* Media Queries para diseño responsive*/
@media (max-width: 992px) {
    .empresa {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .empresa {
        flex-direction: column;
    }
    nav { 
        gap: 30px;
    }    
    nav a {
        margin: 10px 0;
    }
    .aside {
        display: grid;
    }
    .carta {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    #figura-inicio img {
        max-width: 100%;
    }
    .main {
        padding: 10px;
    }
    .main img {    
        height: 314px;
        width: 346px;
    }
    .aside {
        padding: 10px;
    }
    .carta {
        padding: 10px;
    }
}

@media (max-width: 460px) {
    header {
        background-color: pink;
        justify-content: space-around;
        padding: 2px;
    }
    nav { 
        gap: 30px;
        margin-right: 10px;
    }
    #figura-inicio img {
        max-width: 100%;
    }
    .main {
        padding: 10px;
    }
    .main img {    
        height: 314px;
        width: 346px;
    }
    .aside {
        padding: 10px;
    }
    .carta {
        padding: 10px;
    }
}